.main--map{
    padding-top: 60px;
}
.title{
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #333333;
    margin-bottom: 21px;
}
.text{
    max-width: 790px;
    margin: 0 auto 55px;
    font-size: 14px;
    line-height: 16px;
    color: #4F4F4F;
}

.map--slider__wrapper{
    margin: 0 auto 33px;
    max-width: 1200px;
}
.map--slider{
    height: 157px;
    max-width: 1073px;
    overflow: hidden;
}
.map--slider-line{
    width: 1074px;
    height: 100%;
}
.map--slide__active{
    position: relative;
}


.map__btn__range{
    max-width: 276px;
    padding-right: 32px;
    margin-bottom: 7px;
}

.map-wrapper{
    background-color: white;
}

.map-position{
    margin: 0 auto;
    padding-top: 60px;
}
.point-eagle__map{
    left: 132px;
    top: 80px;
}
.point:hover{
    background: url("../assets/images/svg/map/PointRed.svg");
}
.point-panda{
    top: 97px;
    left: 903px;
}
.map-btn{
    margin: 42px auto 0;
}
.map--slide::after{
    content: "";
    position: absolute;
    top: -6%;
    left: -6%;
    right: -6%;
    bottom: -6%;
    background: linear-gradient(96deg, rgba(7, 238, 224, 1) 0%, rgba(223, 73, 109, 1) 92% );
    height: 112%;
    width: 112%;
    z-index: -2;
    border-radius: 100%;
    visibility: hidden;
    transition: 0.3s;
}
.map--slide::before{
    content: "";
    position: absolute;
    top: -3%;
    left: -3%;
    right: -3%;
    bottom: -3%;
    background-color: #fff;
    height: 106%;
    width: 106%;
    z-index: -1;
    border-radius: 50%;
    visibility: hidden;
    transition: 0.3s;
}


.map--slide{
    position: relative;
    max-height: 108px;
    max-width: 108px;
    border-radius: 50%;
    z-index: 5;
    transition: transform 0.6s;
}

.map--slide:hover{
    transform: scale(1.2);
}
.map--slide:hover::after,.map--slide:hover::before{
    visibility: visible;
}

.map--slide__active::after,.map--slide__active::before{
    visibility: visible;
}

.map--slide__active{
    transform: none;
}
.map--slide__active{
    transform: scale(1.3);
}


@media (max-width: 1920px) {


    .map{
        width: calc(800px + (1200 - 800) * ((100vw - 1200px) / (1920 - 1200)));
    }
    .map__svg{
        width: calc(800px + (1200 - 800) * ((100vw - 1200px) / (1920 - 1200)));
        height: calc(387px + (498 - 387) * ((100vw - 1200px) / (1920 - 1200)));
    }
    .point-eagle{
        top: calc(43px + (73 - 43) * ((100vw - 1200px) / (1920 - 1200)));
        left: calc(72px + (121 - 72) * ((100vw - 1200px) / (1920 - 1200)));
    }
    .point-crocodile{
        top: calc(14.1% + (41.4 - 14.1) * ((100vw - 1200px) / (1920 - 1200)));
        left: calc(18.9% + (31.3 - 18.9) * ((100vw - 1200px) / (1920 - 1200)));
    }
    .point-monkey{
        top: calc(33.8% + (47.7 - 33.8) * ((100vw - 1200px) / (1920 - 1200)));
        left: calc(46.1% + (58.6 - 46.1) * ((100vw - 1200px) / (1920 - 1200)));
    }
    .point-panda{
        top: calc(14.3% + (29 - 14.3) * ((100vw - 1200px) / (1920 - 1200)));
        left: calc(72.6% + (90.3 - 72.6) * ((100vw - 1200px) / (1920 - 1200)));
    }
}

@media (max-width: 1190px) {
    .btn-arrow{
        display: block;
    }
}

@media (max-width: 1600px) {
    .text{
        margin: 0 auto 33px;
    }
    .map--slider__wrapper{
        margin: 0 auto 30px;
        max-width: 800px;
    }
    .map--slider{
        width: 659px;
    }
    .map__btn__range {
        padding-right: 0;
        margin-bottom: 35px;
    }
    .map-position{
        padding-top: 0;
    }
    .map-btn{
        margin: 33px auto 0;
    }
    .point,.point:hover{
        transform: scale(0.9);
    }
}

@media (max-width: 1200px) {
    .map{
        width: calc(600px + (800 - 600) * ((100vw - 640px) / (1200 - 640)));
    }
    .map__svg {
        width: calc(600px + (800 - 600) * ((100vw - 640px) / (1200 - 640)));
        height: calc(290px + (436 - 290) * ((100vw - 640px) / (1200 - 640)));
    }
    .point-eagle{
        top: calc(10px + (43 - 10) * ((100vw - 640px) / (1200 - 640)));
        left: calc(53px + (72 - 53) * ((100vw - 640px) / (1200 - 640)));
    }
    .point-crocodile{
        top: calc(6.1% + (14.1 - 6.1) * ((100vw - 640px) / (1200 - 640)));
        left: calc(17.3% + (18.9 - 17.3) * ((100vw - 640px) / (1200 - 640)));
    }
    .point-monkey{
        top: calc(24.8% + (33.8 - 24.8) * ((100vw - 640px) / (1200 - 640)));
        left: calc(44.8% + (46.1 - 44.8) * ((100vw - 640px) / (1200 - 640)));
    }
    .point-panda{
        top: calc(4.3% + (14.3 - 4.3) * ((100vw - 640px) / (1200 - 640)));
        left: calc(71.3% + (72.6 - 71.3) * ((100vw - 640px) / (1200 - 640)));
    }
}
@media (max-width: 700px) {
    .text{
        margin-bottom: 30px;
    }
    .map__btn__range{
        margin-bottom: 22px;
    }

    /*.point, .point:hover {*/
    /*    background-size: 34px 47px;*/
    /*    width: 34px;*/
    /*    height: 47px;*/
    /*}*/
}

@media (max-width: 640px) {
    .map{
        width: calc(296px + (600 - 296) * ((100vw - 320px) / (640 - 320)));
    }
    .map__svg {
        width: calc(296px + (600 - 296) * ((100vw - 320px) / (640 - 320)));
        height: calc(146px + (290 - 146) * ((100vw - 320px) / (640 - 320)));
    }


    .point, .point:hover {
        transform: scale(1);
        background-size: 66px 93px;
        width: 66px;
        height: 93px;
    }
    .point--img__wrapper{
        background-size: 43px;
        width: 66px;
        height: 93px;
        background-position: 11px 11px;
    }
}

@media (max-width: 600px) {
    .main--map{
        padding-top: 35px;
    }
    .map--slider-line{
        width: 640px;
    }
    .title{
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 10px;
    }
    .text{
        font-size: 12px;
        line-height: 14px;
        padding: 0 10px;
        margin-bottom: 40px;
    }
    .map--slide>img{
        height: 100%;
        width: 100%;
    }
    .point, .point:hover {
        background-size: 34px 47px;
        width: 34px;
        height: 47px;
    }
    .point--img__wrapper{
        background-size: 22px;
        width: 34px;
        height: 47px;
        background-position: 11px 11px;
    }
    .map--slider{
        height: 90px;
    }
    .map--slide{
        width: 60px;
        height: 60px;
    }
    .btn-arrow{
        padding-top: 0;
    }
    .map--slider__wrapper{
        padding: 0 10px;
        margin-bottom: 17px;
    }
    .map-btn{
        margin-top: 31px;
    }

}
@media (max-width: 320px) {
    .map__btn__range{
        margin-left: 23px;
    }
}

